<!DOCTYPE html>
<html>
<head>
    <title>TaskSync · Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="header">
        <h2>My Tasks</h2>
        <div>
            <button onclick="toggleDark()">🌙</button>
            <a href="/logout" class="logout">Logout</a>
        </div>
    </div>

    <form method="POST" action="/add" class="task-form column">
    <input type="text" name="title" placeholder="Task title" required>
    <textarea name="description" placeholder="Description (optional)"></textarea>
    <button type="submit">Add Task</button>
</form>


    <ul class="task-list">
        {% for task in tasks %}
        <li>
            <div>
                <strong>{{ task[1] }}</strong>
                {% if task[2] %}
                <p class="desc">{{ task[2] }}</p>
                {% endif %}
                <small>Created on: {{ task[3] }}</small>
            </div>

            <div class="actions">
                <a href="/edit/{{ task[0] }}">✏️</a>
                <a href="/delete/{{ task[0] }}">🗑️</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<script>
function toggleDark() {
    document.body.classList.toggle("dark");
}
</script>

</body>
</html>
